div {
    display: inline-block;
    padding: 0;
    height: 30px;
    width: 30px;
    position: relative;
    text-align: center;
    color: rgb(56, 104, 8);
    cursor: pointer;
}

.branco {
    background-color: rgb(241, 230, 216);
}

.preto {
    background-color: rgb(82, 81, 81);
}